<mat-drawer-container class="map-wrapper" autosize>
  <mat-drawer #drawer class="sidenav-marker-info" mode="side">
    <app-sidenav-info
      [infoContent]="infoContent"
      (closeSidenav)="onCloseDrawer()"
    ></app-sidenav-info>
  </mat-drawer>

  <google-map
    height="100%"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    (mapDblclick)="onCreateLocation($event)"
  >
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers$ | async"
      [position]="marker.position"
      [title]="marker.name"
      (mapClick)="openInfo(markerElem, marker.name)"
    >
    </map-marker>

    <map-info-window (closeclick)="onCloseMapInfoWindow()">{{
      infoContent
    }}</map-info-window>
  </google-map>
</mat-drawer-container>
